@import url('https://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

/*
 to do: css를 media, body, header, main, footer  순으로 정리해서 적용해야한다. 이는 가독성을 높이는 방법

*/

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

body{
  background-color: #ffffff;
  color: #555;
  font-size: 14px;
  font-family: 'Spoca Han Sans','Nanum Gothic', Helvetica, Arial, sans-serif;
  text-decoration: none;
  min-height: 100%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333;
}

/*
 * Override Bootstrap's default container.
 */

.container {
  max-width: 60rem;
}

/*
 * Masthead for nav
 */

.blog-masthead {
  margin-bottom: 3rem;
  background-color: #428bca;
  box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
}

/* Nav links */
.nav-link {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: #cdddeb;
}
.nav-link:hover,
.nav-link:focus {
  color: #fff;
  background-color: transparent;
}



nav a{
    text-transform: uppercase;
}

header {
  margin-top: 2rem;
}

header a{
    color: #151515;
}



/* main */
.main{
      min-height: 100vh;
}

.main a{
    color: #151515;
}


#mark a{
    text-decoration: none;
}

.content {
    width: 100%;
    margin: 2rem 0rem;
}

.article {
    margin:2rem 0rem;
}

.category_name{
  display: inline;
  color: #888888;
}

.category_url{
  display: inline;
}

/* footer */
footer{

  height :30px;
  padding-top: 10px;
  margin-top: auto;

}

footer p{
  margin-bottom: 0px;
}




