@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

body{
	background-color: #ffffff;
	color: #151515;
	font-size: 14px;
	font-family: 'Nanum Gothic', Helvetica, Arial, sans-serif;
    text-decoration: none;
    height: 100%;
}


a{
    color: #151515;
}

header{
    margin-top:2rem;
    margin-bottom:2rem;
}

/* nav 와 footer. 구분이 존재하나? */

.nav{
    border-bottom-style: ridge;
}

.nav a{
    text-transform: uppercase;
}

.nav ul{
    padding-left:0;
}

.nav .pull-left li{
    margin-right: 2rem;
    display: inline;
}

#mark a{
    text-decoration: none;
}

.nav .pull-right li{
    margin-left: 2rem;
    display: inline;
}



.content {
    width: 100%;
    height: 100%;
    height: 20rem;
    /*border-style: dashed;*/
}


.article_list{
    /*border-style: dashed;*/
}

.article {
    margin-top:2rem;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    border-top-style: ridge;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /*padding: 1rem;*/
}

.footer ul{
    padding-left:0;
}
.footer li{
    margin-right: 2rem;
    display: inline;
}
