{% extends 'base.html' %}
    {% block title %}About SM{% endblock %}

    {% block content %}
        <article>
            <h4> Sangmoon Park </h4>
            <ul>
                <li>age   : 25</li>
                <li>email : sangmoon@sangmoonpark.com</li>
                <li><a href="www.sangmoonpark.com">blog</a></li>
                <li><a href="https://github.com/sangmoon">github</a></li>
            </ul>
        </article>
    {% endblock %}

    {% block article_list %}
    {% endblock %}
