<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/base.css">
    </head>

    <body>
        <div class="nav">
            <ul class="pull-left">
                {% block menubar %}{% endblock %}
            </ul>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    <div class="greeting">
                    {% block greeting %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    <div class="article_list">
                    {% block article_list %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

            <div class="footer">
                <ul class="pull-mid">
                    {% block footer %}{% endblock %}
                </ul>
            </div>
    </body>
</html>
