{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>개발자 블로그</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="/static/base1.css">
  <link rel="stylesheet" type="text/css" href="/static/colorful.css">

  <link rel="shortcut icon" type="image/ico" href="{% static "favicon.ico" %}" >
</head>

<body>

  <nav class="nav navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Blog</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavBar" aria-controls="topNavBar" aria-expanded="false" aria-label="Toggle navagation">

      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="topNavBar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/">Main</a></li>
        <li class="nav-item"><a class="nav-link" href="/article/6" id="develop">개발현황</a></li>
        <li class="nav-item"><a class="nav-link" href="/write" id="write_link">글쓰기</a></li>
      {% if request.user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href= "/logout?next={{request.path}}" id='log_out'>log out</a></li>
      {% else %}
        <li class="nav-item"><a class="nav-link" href= "/login?next={{request.path}}" id="log_in">log in</a></li>
      {% endif %}
    </ul>
    </div>
  </nav>



  <header>
    <div class="blog-header">
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
            <div class="col-md-8 col-md-offset-2">
               <h1 class="blog-title">Sangmoon Blog</h1>
              <p class="lead blog-description">생각을 정리하고 기술을 적용합니다.</p>
            </div>
          </div>
        </div>
      </div>
  </header>

  <div class="main">
      <div class="container">
          <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8 col-md-offset-2">
                  <div class="content">
                  {% block content %}{% endblock %}
                  </div>
              </div>
          </div>
      </div>
  </div>


  <footer>
    <p class="text-muted">&copy; 2018. smant / www.sangmoonpark.com</p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  {% block jsScript%} {% endblock %}
</body>
</html>
