<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/base.css">
        <link rel="shortcut icon" type="image/ico" href="/static/fuck.ico">
    </head>

    <body>
        <div class="nav">
            <ul class="pull-left">
                <li><a href= "/">main</a></li>
                <li><a href = "/about">about</a></li>
            </ul>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-md-10 col-md-offset-2">
                    <div class="content">
                    {% block content %}{% endblock %}
                    </div>
                </div>

                <div class="col-md-10 col-md-offset-2">
                    <div class="article_list">
                    {% block article_list %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

            <div class="footer">
                <ul class="pull-mid">
                    <li><a href="/">psm</a></li>
                    <li><a href="/">python</a></li>
                </ul>
            </div>
    </body>
</html>
