{% extends 'base.html' %}
    {% block title %}SM blog{% endblock %}

    {% block content %}
        <h3>이 블로그는 박상문님의 블로그입니다.</h3>
        <p>웹과 앱에 관심이 많고, python django를 공부하고 있습니다.<br> 친구들 만나느라 샤샤
        </p>

        <hr>

        <div class="article_list">
            <h3>최근 업로드된 글</h3>
            {% for article in article_list %}
            <div class="article">
                <h5>
                    <a href="{% url 'article' article.id %}">
                    {{article.title}}
                    </a>
                </h5>
                <p>
                    Posted
                    <time>
                        {{article.created_at|date:"H:i"}}
                        {{article.created_at|date:"D d M Y"}}
                    </time>
                </p>
            </div>
            {% endfor %}
        </div>
    {% endblock %}
