{% extends 'base.html' %}
{% block content %}
    <div class="article_list">
        <h3>최근 업로드된 글</h3>
        {% for article in article_list %}
        <div>
            <span class="category_name">
                {{article.category}}
            </span>
            <span class="category_url">
                <a href="{% url 'article' article.id %}">
                <p>{{article.title}}</p>
                </a>
            </span>
        </div>
        {% endfor %}
    </div>
{% endblock %}


