{% extends 'base.html' %}
{% block content %}
    <article>
        <div class="article_header">
            <h3>글 쓰기</h3>
        </div>
        <form method="POST">
            {% csrf_token %}
            {% if form.errors %}
                <div class="form-group">
                    <span class="help-block">{{form.errors}}</span>
                </div>
            {% endif %}
            <button type="button">글쓰기</button>
            <button type="button">미리보기</button>
            <br><br>

            {{form.title}}
            <br>

            {{form.content}}
            <br>
            <input type="submit" value="Submit" id="submit" class="form-control"/>
        </form>
        <!--
        <div id="preview" style="height: 100px"></div>
        <script>
          function Editor(input, preview){
            this.update = function() {
              preview.innerHTML = markdown.toHTML(input.value);
            };
            input.editor = this;
            this.update();
          }
          var $ = function (id) {return document.getElementById(id);};
          new Editor($("id_content"), $("preview"));
        </script>
        -->
    </article>
{% endblock %}
