{% extends 'base.html' %}
{% block content %}

    <article>
        <div class="article_header">
            <h3>글 쓰기</h3>
        </div>
        <form method="POST">
            {% csrf_token %}
            {% if form.errors %}
                <div class="form-group">
                    <span class="help-block">{{form.errors}}</span>
                </div>
            {% endif %}
            <button type="button" id="write_button" disabled="true">글쓰기</button>
            <button type="button" id="preview_button">미리보기</button>
            <br><br>

            {{form.title}}
            <br>

            {{form.category}}
            <br>
            {{form.content}}
            <br>
            <input type="submit" value="Submit" id="submit" class="form-control"/>
        </form>
    </article>
{% endblock %}
